@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7 .q7＿content {
  width: 225px;
}

.q7--float .q7＿content:first-child {
  margin-left: 0;
}

.q7--float .q7＿content {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7--table .q7＿display {
  display: table;
}

.q7--table .q7＿content:first-child {
  padding-left: 0;
}

.q7--table .q7＿content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.q7--table .q7__box__text.is-detail {
  font-size: 16px;
}

.q7--inlineblock .q7＿display {
  font-size: 0;
}

.q7--inlineblock .q7＿content:first-child {
  margin-left: 0;
}

.q7--inlineblock .q7＿content {
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7--flex .q7＿display {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7--flex .q7＿content {
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7--margin .q7＿content {
  vertical-align: top;
}

.q7--margin .screen-white {
  font-size: 0;
}

.q7--margin .q7＿content.is-incidental {
  display: inline-block;
  width: 300px;
}

.q7--margin .q7＿content.is-variable {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
}

.q7--margin .q7__box__text.is-detail {
  font-size: 16px;
}



/* 回答はここに書いてね */
